[user]
	name = Nathan Guerrero
	email = anarchbool@anarchbool.dev
	signingkey = /home/hihacks/.ssh/github-sign.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	hooksPath = /home/hihacks/.config/git/hooks
